<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>添加药方</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='flaticon/flaticon.css') }}">
    </head>
    <body>
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ message[1] }}</strong>
        </div>
	    {% endfor %}
        <!-- 导航栏 -->
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('account_app.home') }}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account_app.panel') }}">个人中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('medicine_app.listMedicine') }}">药材</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('prescription_app.listPrescription') }}">药方</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account_app.logout') }}">注销</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">关于</a>
                </li>
            </ul>
        </nav>


        <div class="container">
            <div class="row">
              <div class="form-container">
                <form class="form-horizontal" action="/chageHead" enctype='multipart/form-data' method='POST'>
                    <div class="form-group">
                        <label><input type="file" name="headImg" /></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mr-1 mb-3">上传图片</button>
                    </div>
                </form>
                   
              </div>
                
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="footer-bottom">
                    <div class="copyright">Copyright &copy; 2021.1851977 李家麟 All rights reserved.<a
                            target="_blank" href=""></a></div>
                    <ul class="footer-bottom__menu">
                        <li>Privacy Policy</li>
                        <li>Terms of use</li>
                    </ul>
                </div>
            </div>
        </footer>

        <script src="{{ url_for('static',filename='js/jquery-2.2.3.min.js') }}"></script>
        <script src="{{ url_for('static',filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='select2/js/select2.min.js') }}"></script>
        <script src="{{ url_for('static',filename='slick/slick.min.js') }}"></script>

        <!-- 用来做搜索 -->
        <script src="{{ url_for('static',filename='js/custom.js') }}"></script>

    </body>
</html>